/* App.css or style.css */

body {
  /* Ensure the correct path to your image */
  background-image: url('./background.jpg');
  background-size: cover; /* Ensures the image covers the container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  color: white;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  margin: 0;
}

.login-container {
  width: 350px;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #020000;
  border-radius: 10px;
  backdrop-filter: blur(8px);
 /* background-color: rgba(0, 0, 0, 0.5); /* Add a slight background color for better readability */
}

h2 {
  text-align: center;
  color: #090101;
  font-style:italic;
}

label{
  color: #090101;
}

.form-group {
  margin: 20px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.check {
  display: flex;
  justify-content: space-around;
}

.green {
  color: #000dff;
  text-decoration: underline;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #090101;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: hsl(0, 100%, 99%);
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

a {
  color: #33db16;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.color{
  color: #090101;
}
